@import './bootstrap-grid.css';

@import './abstracts/_mixins.scss';
@import './abstracts/_variables.scss';

@import './base/_base.scss';
@import './base/_typography.scss';

@import './../components/Nav/nav.scss';
@import './../components/Header/header.scss';
@import './../components/Posts/posts.scss';
@import './../components/Card/card.scss';

@import '../pages/Home/home.scss';

@import './app.scss';
