.card {
  width: 296px;
  height: 280px;
  background: #ffffff;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  overflow: hidden;
  img {
    width: 100%;
    height: 150px;
  }
  &-content {
    padding: 1.3rem;
    text-align: left;
    h3 {
      margin-bottom: 0.6rem;
    }
  }
}
